@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.motto {
    padding: 1.5em;
    margin: 0 auto;
    background: url(/images/Contact.jpg) cover/center;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #4b8303;
    border: 1px solid #000000;
    color: aliceblue;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin:  0 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.logo {
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
}
.navbar-links {
    z-index: 1;
}

.motto {
    background-color: lightgreen;
    color: black;
    border: 1px solid cornflowerblue
}

.thanks {
    margin: 0;
    padding: 1.5em;
    border: 1px solid black;

}

.form {
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: contain;
    }
 }   
 
 @media screen and (min-width: 500px) {
    .card {
        width: 350px;
        margin: 0 auto;
    }
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 0 1em;
    border: 1px solid black;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3caf50;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    cursor: pointer; 
    width: 100%;
} 

.footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}