body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #4b8303;
    border: 1px solid #000000;
    color: aliceblue;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin:  0 10px;
}

.logo {
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
}
.navbar-links {
    z-index: 1;
}
.motto {
    background-color:forestgreen;
    color: white;
    border: 1px solid cornflowerblue
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3.1fr);
    grid-gap: 10px;
}

.product {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: lightblue;
}

.product img {
    width: 500px;
    height: 250px;
}

.last-motto
{
    background-color: forestgreen;
    color: white;
    border: 1px solid lightblue;
}

.footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    justify-content: center;
}