body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #4b8303;
    border: 1px solid #000000;
    color: aliceblue;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin:  0 10px;
}

.logo {
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
}
.navbar-links {
    z-index: 1;
}

.motto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    height: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    background-color: #47D176;
    border: 1px solid #000000;
}
